*
!*/
/bin/
/vendor
!/.docker.env.example
!/.github/**
!/bin/*
!/config/*
!/tools/**
!/web/modules/custom
!/web/modules/custom/**
!/web/sites/default/settings.php
!/web/sites/default/settings.platformsh.php
!/web/themes/custom
