*
!*/
!/.docker.env.example
!/.dockerignore
!/.github/**
!/bin/*
!/config/*
!/docker-compose.yaml
!/run
!/tools/**
!/tools/docker/**
!/web/modules/custom/**
!/web/sites/default/settings.php
!/web/sites/default/settings.platformsh.php
!/web/themes/custom
/bin/
/vendor/
